---
layout: base
title: Resume
permalink: /resume/
---

<section class="b-resume">
  <article class="sheet">
    <header class="title">
      <h1>Luis Emilio <span>Velasco Sanchez</span></h1>
    </header>

    <h2 class="section-title">Experience<span></span></h2>
    <section class="experience">
      {% for job in site.experience reversed %} {% unless job.archive %}
      <section class="job">
        <img
          class="logo"
          src="{{ job.company_logo }}"
          alt="{{ job.company }}"
        />
        <div>
          <header class="header">
            <div class="position">
              <h3>{{ job.company }}</h3>
              <h4>{{ job.position }}</h4>
            </div>
            <aside>
              <h5 class="location">{{ job.location }}</h5>
              <h5 class="period">{{ job.period }}</h5>
            </aside>
          </header>
          {{ job.content }}
        </div>
      </section>
      {% endunless %} {% endfor %}
    </section>

    <h2 class="section-title">Other experience<span></span></h2>
    <section class="archived">
      {% for job in site.experience reversed %} {% if job.archive %}
      <section class="job">
        <div class="logo-wrapper">
          <img
            class="logo"
            src="{{ job.company_logo }}"
            alt="{{ job.company }}"
          />
        </div>
        <footer>
          <h3>{{ job.company }}</h3>
          <h4>{{ job.position }}</h4>
          <aside>{{ job.period }}</aside>
        </footer>
      </section>
      {% endif %} {% endfor %}
    </section>

    <h2 class="section-title">Education<span></span></h2>
    <section class="education">
      {% for study in site.education reversed %}
      <section class="study">
        <img
          class="logo"
          src="{{ study.entity_logo }}"
          alt="{{ study.entity }}"
        />
        <div class="title">
          <h3>{{ study.entity }}</h3>
          <h4>{{ study.qualification }}</h4>
        </div>
        <aside>
          <h5 class="location">{{ study.location }}</h5>
          <h5 class="period">{{ study.period }}</h5>
        </aside>
      </section>
      {% endfor %}
    </section>

    <h2 class="section-title">Talks<span></span></h2>
    <section class="talks"></section>

    <h2 class="section-title">Side Projects<span></span></h2>
    <section class="side-projects"></section>

    <footer class="footer">References available on request</footer>
  </article>
</section>
