.b-nav-header {
  height: 40px;
  flex: 0 0 auto;
  background: #fff;
  z-index: 1;
  @include shadow();

  > .wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    > .site-title {
      flex: 1 1 auto;
      height: 100%;
      padding: 5px 0;

      img {
        max-height: 100%;
      }
    }

    > .main-nav {
      > a {
        font-size: 0.8em;
        margin-left: 20px;
        text-transform: uppercase;
      }
    }
  }
}
