.b-resume {
  padding: 20px;
  background: $background-color-alternate;

  > .sheet {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #fff;
    height: 297mm;
    width: 210mm;
    padding: 10mm 15mm;
    font-size: 9pt;
    @include shadow();

    > .title {
      .me {
        display: flex;
        align-items: center;

        > .name {
          flex: 1 1 auto;
          font-size: 26pt;
          line-height: 32pt;
          margin: 0;

          > .surname {
            color: $grey-color;
            font-style: italic;
          }
        }

        > .portrait {
          max-height: 25mm;
          border-radius: 50%;
        }
      }

      > .footer {
        display: flex;
        justify-content: space-around;
        margin-top: 2mm;
      }
    }

    > .section-title {
      display: flex;
      align-items: baseline;
      margin-top: 2mm;

      > span {
        flex: 1;
        margin-left: 2mm;
        border-bottom: 0.3mm solid $text-color;
      }
    }

    > .experience {
      > .job {
        display: flex;
        align-items: flex-start;

        > .logo-wrapper {
          width: 10mm;
          height: 10mm;
          display: flex;
          align-items: center;
          justify-content: center;

          > .logo {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .header {
          display: flex;

          > .position {
            flex: 1 1 auto;
            margin: 0 4mm;
          }
        }
      }
    }

    > .archived {
      display: flex;
      justify-content: space-around;

      > .job {
        text-align: center;

        > .logo-wrapper {
          width: 100%;
          height: 15mm;
          display: flex;
          align-items: center;
          justify-content: center;

          > .logo {
            max-width: 15mm;
            max-height: 100%;
          }
        }
      }
    }

    > .education {
      > .study {
        display: flex;
        align-items: flex-start;

        > .logo-wrapper {
          width: 10mm;
          height: 10mm;
          display: flex;
          align-items: center;
          justify-content: center;

          > .logo {
            max-width: 100%;
            max-height: 100%;
          }
        }

        > .title {
          flex: 1 1 auto;
          margin: 0 4mm;
        }
      }
    }

    > .talks {
      > .talk {
        display: flex;
        align-items: center;

        > .logo-wrapper {
          width: 10mm;
          height: 5mm;
          display: flex;
          align-items: center;
          justify-content: center;

          > .logo {
            max-width: 100%;
            max-height: 100%;
          }
        }

        > .title {
          flex: 1 1 auto;
          margin: 0 4mm;
        }
      }
    }

    > .side-projects {
      > .project {
        display: flex;
        align-items: center;

        > .logo-wrapper {
          width: 10mm;
          height: 6mm;
          display: flex;
          align-items: center;
          justify-content: center;

          > .logo {
            max-width: 100%;
            max-height: 100%;
          }
        }

        > .name {
          flex: 1 1 auto;
          margin: 0 4mm;
        }
      }
    }

    > .footer {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

@media print {
  .b-resume {
    padding: 0;
  }
}
