---
layout: base-page
---
<article class="b-post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="page-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="date">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% assign tags_size = page.tags | size %}
      {% if tags_size != 0 %} • {% endif %}
      {% for tag in page.tags %}
        <a href="{% link _pages/posts.html %}#{{ tag | slugify }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </p>
  </header>

  <div class="e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
