@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

@page {
  size: A4;
  margin: 0;
}

body {
  display: flex;
  > main {
    flex: 1 1 auto;
  }
}

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $spacing-unit;

  @include media-query($on-laptop) {
    padding: 0 $spacing-unit / 2;
    max-width: 100vw;
  }
}
